.block {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  width: 300px;
}
.statisstics__block {
  width: 300px;
}
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.item__block {
  display: flex;
  justify-content: space-evenly;
}
.list__block {
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  padding: 0;
}
button {
  height: 25px;
  width: 70px;
  border: none;
  background-color: rgb(60, 55, 55);
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
button:hover {
  background-color: rgb(84, 76, 76);
  outline: 2px solid blue;
}
p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(22, 20, 20);
}
span {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  color: blue;
}
